html {
  scroll-behavior: smooth;
}

:root {
  /* --primary: #0047FF; Old Blue */
  --primary: #2C67FF;
  /* New Requested Blue */
  --secondary: #f5f5f5;
  --foreground: #000000;
  --background: #ffffff;
  /* Blue from the screenshots */
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --spacing-unit: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}